MESSAGE_ROUTER_PORT=4020

DATABASE_URL=
REDIS_URL=
JWT_ACCESS_SECRET=
INTERNAL_SERVICES_SECRET=
RELEASE_COOKIE=
PHOENIX_SECRET_KEY_BASE=
PUBLIC_HOST=localhost

PRESENCE_SERVICE_URL=http://presence:4010
