
CALL_SIGNAL_PORT=4040

JWT_ACCESS_SECRET=
INTERNAL_SERVICES_SECRET=
RELEASE_COOKIE=
PHOENIX_SECRET_KEY_BASE=
PUBLIC_HOST=localhost

# URLs internes Docker (ne pas modifier en dev Docker)
MESSAGE_ROUTER_URL=http://message-router:4020
MEDIASOUP_URL=http://mediasoup:3478
